<div>
	<a class="loc bl" href="#/chat/rooms">
		<div id="blik" class="blik" style="display: inline-block; width: 0px; left: 10px; background-position: 100% 50%;"></div>
		<span class="hlpt">Комнаты</span>
		<span class="hlpd"></span>
	</a>
</div>
<div class="pall chat">
	<form ng-submit="send(roomid)">
		<span ng-show="touid" ng-click="to(roomid)">{{tonick}}:</span>
		<input size="60" maxlength="1024" ng-model="text" id="text" type="text" autocomplete="off">
		<span ng-repeat="ch in chatlist"><input type="button" ng-click="chroom(ch.room)" ng-class="['other','selected'][(ch.room==roomid)+0]" name="yt0" value="{{ch.title}}"></span>
		<img src="../img/loading.gif" style="background: yellow" ng-show="sending" />
		<br/><input type="submit" value="Отправить" />
	</form>
<div id="chat">{{chat.room}}
<div ng-repeat="msg in chatlogs | chatlist:0" class="chat-{{msg.type}}">
	<span class="col1">{{msg.timetext}}</span>
	<span class="col2" ng-click="chroom(msg.room, msg.fromid, msg.fromnick)">[{{msg.title}}]</span>
	<span ng-hide="msg.toid==msg.fromid" class="chat-me" ng-click="to(msg.room, msg.fromid, msg.fromnick)">{{msg.fromnick}}: </span>
	<span ng-show="(msg.toid>0) && (msg.toid!=msg.fromid)" ng-click="to(msg.room, msg.toid, msg.tonick)" class="{{['chat-to','chat-tome'][(msg.toid==myuser.id)+0]}}">{{msg.tonick}}, </span>
	<span ng-show="(msg.toid>0) && (msg.toid==msg.fromid)" ng-click="to(msg.room, msg.toid, msg.tonick)">*** {{msg.tonick}} </span>
	{{msg.text}}
</div>

</div>
</div>