<div>
	<a class="loc bl" href="#/chat/all">
		<div id="blik" class="blik" style="display: inline-block; width: 0px; left: 10px; background-position: 100% 50%;"></div>
		<span class="hlpt">Комнаты</span>
		<span class="hlpd"></span>
	</a>
</div>

<div class="chatlist">
	<div ng-repeat="ch in chatlist">
		<span class="options" ng-click="options(ch.room)"></span>
		<span class="listen"></span>
		<a href="#/chat/{{ch.room}}">
			<img src="{{domain}}/img/clan/2_0.jpg" />
			{{ch.title}}
		</a>
	</div>
</div>

<div class="menu"><span 
class="menu"><a class="menu-l" href="#/chat/new"><img class="i" width="32" height="32" src="../img/battle.gif" alt="">Новая</a></span><span 
class="menu"><a class="menu-r" href="#/chat/newprivate"><img class="i" width="32" height="32" src="../img/profile.png" alt="">Приват</a></span></div>