<div>
	<a class="loc bl" href="/city/">
		<div id="blik" class="blik" style="display: inline-block; width: 0px; left: 10px; background-position: 100% 50%;"></div>
		<span class="hlpt">Вход</span>
		<span class="hlpd col1"></span>
	</a>
	<div class="flc"></div>
</div>
<div class="c" style="background:url(../img/login-bg.jpg)">
<form id="login-form" method="post">
	<div class="с">
		<label for="LoginForm_username" class="required">Логин <span class="required">*</span></label><br>
		<input name="LoginForm[username]" id="LoginForm_username" type="text" ng-model="login"><br>
		<div class="errorMessage" id="LoginForm_username_em_" style="display:none"></div>	
        </div>

	<div class="с">
		<label for="LoginForm_password" class="required">Пароль <span class="required">*</span></label><br>
		<input name="LoginForm[password]" id="LoginForm_password" type="password" ng-model="password"><br>
		<div class="errorMessage" id="LoginForm_password_em_" style="display:none"></div>	
        </div>

	<div class="с rememberMe">
                <!--input name="LoginForm[rememberMe]" id="LoginForm_rememberMe" ng-model="remember" type="checkbox">
                <label for="LoginForm_rememberMe">Запомнить меня</label>
                <div class="errorMessage" id="LoginForm_rememberMe_em_" style="display:none"></div-->	
        </div>

	<div class="с submit">
		<input type="button" name="yt0" value="Вход" ng-click="goLogin()" />
        </div>

</form></div>