<div>
	<a class="loc bl" href="/city/">
		<span class="hlpt">Выход</span>
	</a>
	<div class="flc"></div>
</div>
<div class="c" style="background:url(../img/login-bg.jpg); height: 200px">
</div>
<div class="menu">
<span><a href="#/cities"><img class="i" width="32" height="32" src="../img/profile.png" alt="">В город</a></span>
<span><a ng-click="goLogout()"><img class="i" width="32" height="32" src="../img/battle.gif" alt="">Выход</a></span>
</div>