<!doctype html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta name="---viewport" content="width=320, initial-scale=.8, user-scalable=no" />
    <meta name="language" content="ru" />
    <meta name="---MobileOptimized" content="320" />

    <meta charset="utf-8">
    <title>GreatKings</title>
    <link rel="stylesheet" href="main.css"/>
    <script type="text/javascript" src="../phonegap.js"></script>
    <script type="text/javascript" src="../device.js"></script>
    <script type="text/javascript" src="../notification.js"></script>
    <script type="text/javascript" src="../SQLitePlugin.js"></script>
    <script type="text/javascript" src="../local-notification.js"></script>
    <script type="text/javascript" src="../network.js"></script>
    <script type="text/javascript" src="../js/phonegap-app.js"></script>
    <script type="text/javascript" src="../lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="../lib/angular/angular-route.min.js"></script>
    <script type="text/javascript" src="../lib/angular/angular-resource.min.js"></script>
    <script type="text/javascript" src="../lib/angular/angular-cookies.min.js"></script>
    <script type="text/javascript" src="../lib/mobile-angular-ui/mobile-angular-ui.min.js"></script>
    <!-- Required to use $swipe, $drag and Translate services -->
    <script type="text/javascript" src="../lib/mobile-angular-ui/mobile-angular-ui.gestures.min.js"></script>
    <script type="text/javascript" src="../js/controllers.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
    <script type="text/javascript" src="../js/gkdata.js"></script>
    <script type="text/javascript" src="../js/services.js"></script>
    <script type="text/javascript" src="../js/phonegap-service.js"></script>
    <script type="text/javascript" src="../js/directives.js"></script>
    <script type="text/javascript" src="../js/filters.js"></script>
    <script type="text/javascript" src="../js/init.js"></script>
    <script type="text/javascript" src="../lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="./lib/mCustomScrolbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="active.js"></script>
    <script type="text/javascript">
        phoneGapApp.initialize();
    </script>
</head>
<body>
 
<div id="header">
<div class="exp"><div style="width:0%;"></div></div>

<div class="ptxt bg1" ng-controller="Game">
	<div>
		<span class="flr">
			<span class="nw"><img ng-show="isLoading" width="16" height="16" src="../img/isloading.tr.gif" alt="Loading..."></span>
			<span class="nw"><img width="16" height="16" src="../img/silver.gif" alt="Д">{{myuser.gold}}</span>
			<span class="nw" ng-click="resetState()"><img width="16" height="16" src="../img/clock.gif" alt="В">{{time | ts2human}}</span>
		</span>
		<span>
			<img class="i2" id="nickname" width="16" height="16" src="../img/premium_0.gif" alt="П"> <a href="#/profile/{{myuser.id}}" class="col1">{{myuser.nickname}}</a>
			<!--span class="nw"><img width="16" height="16" src="../img/level.gif" alt="У">1</span-->
			
		</span>
	</div>
	<div class="flc"></div>
</div>

<div class="sep-light"></div>
<div class="sep-dark"></div>

<div>
	<div id="topmenu">
		<div class="flr"><div class="c38"><a class="el34" href="#/chat/all"><img width="32" height="32" src="../img/post.gif" alt="Почта"></a></div></div><div
		class="c38"><a class="el34" href="#/cities"><img width="32" height="32" src="../img/hram.gif" alt="Гл"></a></div><div
		class="c38"><a class="el34" href="#/heroes"><img width="32" height="32" src="../img/hero.gif" alt="Бз"></a></div><div
		class="c38"><a class="el34" href="#/armies"><img width="32" height="32" src="../img/battle.gif" alt="Бо"></a></div><div
		class="c38"><a class="el34" href="#/ebuy"><img width="32" height="32" src="../img/ebuy.gif" alt="Т"></a></div><div 
		class="c38"><a class="el34" href="#/diplomat"><img width="32" height="32" src="../img/unitconveer.gif" alt="Т"></a></div><div 
		class="c38"><a class="el34" href="#/map"><img width="32" height="32" src="../img/map.gif" alt="Гл"></a></div>
	</div>
	
	<div class="flc"></div>
</div>
<!--          -->
<div ng-controller="Notice" ng-show="notice">
	<div class="bg3">
		<div class="pall bg3gr">
			<div class="msg">
				<a href="{{notice.link}}">
					<span class="el70">
						<img width="64" height="64" src="../img/users/{{notice.from}}.jpg" alt="" style="background-color: yellow">
					</span>
				</a>
				<span class="txt" style="color:#ffffff;">
					<span class="col2" ng-show="notice.date>0">{{notice.date | ts2human}}: </span><span class="col1" ng-show="notice.title">{{notice.title}}</span><br/>{{notice.text}}

				</span>
			</div>
		</div>
	</div>
	<div class="menu">
	<span class="menu"><a class="menu-l" ng-click="goYes()"><img class="i" width="32" height="32" src="../img/map.gif" alt="">{{onemsg.yestext}}</a></span><span
	 class="menu"><a class="menu-l" ng-click="goNo()"><img class="i" width="32" height="32" src="../img/map.gif" alt="">{{onemsg.notext}}</a></span>
	</div>
</div>
</div>

<div id="content">
<div ng-hide="myuser.id">
<div>
	<a class="loc bl" href="#">
		<div id="blik" class="blik" style="display: inline-block; width: 0px; left: 10px; background-position: 100% 50%;"></div>
		<span class="hlpt">Вход</span>
		<span class="hlpd col1"></span>
	</a>
	<div class="flc"></div>
</div>
	<div class="c" style="background:url(../img/login-bg.jpg); height: 200px" ng-controller="Login">
	<form ng-submit="goLogin()">
	<div class="с">
		<label for="LoginForm_username" class="required">Логин <span class="required">*</span></label><br>
		<input name="LoginForm[username]" id="LoginForm_username" type="text" ng-model="login"><br>
		<div class="errorMessage" id="LoginForm_username_em_" style="display:none"></div>	
	</div>

	<div class="с">
		<label for="LoginForm_password" class="required">Пароль <span class="required">*</span></label><br>
		<input name="LoginForm[password]" id="LoginForm_password" type="password" ng-model="password"><br>
		<div class="errorMessage" id="LoginForm_password_em_" style="display:none"></div>	
	</div>

	<div class="с rememberMe">
		<!--input name="LoginForm[rememberMe]" id="LoginForm_rememberMe" ng-model="remember" type="checkbox">
		<label for="LoginForm_rememberMe">Запомнить меня</label>
		<div class="errorMessage" id="LoginForm_rememberMe_em_" style="display:none"></div-->	
	</div>

	<div class="с submit">
		<input type="submit" name="yt0" value="Вход" />
    </div>
	</form>
</div>
</div>

<div ng-view ng-show="myuser.id" style="height: 100%"></div>

<div class="sep-dang"></div>

<div class="param-bot" ng-show="myuser.id">
	<span class="nw"><a href="#/logout">Выход</a></span> |
	<span class="nw"><a href="#/profile">Профиль</a></span> |
	<span class="nw"><a href="#/options">Настройки</a></span> |
	<span class="nw"><a href="#/help">Справка</a></span> |
	<span class="nw"><img width="16" height="16" src="../img/online.gif" alt="И"><?php //echo User::online() ?></span>
</div>
<div class="param-bot" ng-hide="myuser.id">
	<span class="nw"><a href="#/login">Вход</a></span> |
	<span class="nw"><a href="#/help">Справка</a></span> |
	<span class="nw"><img width="16" height="16" src="../img/online.gif" alt="И"><?php //echo User::online() ?></span>
</div>
<div class="param-bot" ng-show="false">
	<span class="nw"><a href="../pda/index.html">PDA</a></span> |
	<span class="nw"><a href="../mobi/index.html">WAP</a></span>
</div>

<!--div class="sep-track"></div-->

<div id="footer">

	<div id="copyright">© GreatKings 2013</div>
</div><!-- footer -->



<!--div id="sgroups">
	<a href="http://vk.com/***"><img width="32" height="32" src="../img/sgroup/vk.png" alt="VK"></a>
	<a href="http://www.odnoklassniki.ru/group/***"><img width="32" height="32" src="../img/sgroup/odn.png" alt="O"></a>
</div-->

</div><!-- page -->
<pre>
{{chatlist | json}}

{{chatlogs | json}}
</pre>
</body>
</html>