/* Global */
html { height: 100%; }
* {margin:0; padding:0;}
img {vertical-align:middle; border:0;}
body {font:14px Verdana, Arial, sans-serif; line-height:17px; color:#FFFFFF; margin:0 auto; background:#000000;}

/* Project */
#content {background:#000000;}
#header {}
#footer {color:#FF8A00; padding:4px 2px; text-align:center;}
#footer a {color:#FF8A00; text-decoration:none;}
#footer a:hover {color:#FF8A00; text-decoration:underline;}
#sgroups {color:#FFFFFF; text-align:center; padding-top:4px;}
#copyright {color:#FFFFFF; text-align:center;}

.hangar {text-align:center; padding:8px 0px;}

.loc {height:33px; line-height:32px; background:#333333; text-align:center; vertical-align:middle; position:relative; margin-top:2px; border-top:1px solid #6E6E6E;}
.param-bot {text-align:center; background:#272727; line-height:34px; vertical-align:middle;}
.param-main {display:inline-block; width:104px; text-align:left;}
.title {background:#333333; text-align:center; vertical-align:middle; padding:2px 4px 4px; border-top:1px solid #6E6E6E;}

.hlpt {padding-left:20px;}
.hlpd {float:right; margin:0 5px 0 3px; }

.cell {display:inline-block; text-align:center;}
.c34 {display:inline-block; width:34px; text-align:center;}
div.c38 {display:inline-block; height:34px; width:34px; text-align:center; padding:2px;}
.c74 {display:inline-block; position:relative; width:72px; text-align:center; vertical-align:middle; padding:1px;}
.c116, .c116l, .c116r, .c116al, .c116ar {display:inline-block; position:relative; width:100px; text-align:center; vertical-align:middle; padding:2px;}
.c116l {padding:2px 4px 2px 0px;}
.c116r {padding:2px 0px 2px 4px;}
.c116al {padding:0px 4px 2px 0px;}
.c116ar {padding:0px 0px 2px 4px;}

.el34, a:visited .el34 {display:inline-block; height:32px; width:32px; vertical-align:middle; text-align:center; background:#333333; border:1px solid #FF8A00;}
a:hover.el34, span:hover.el34 {border:1px solid #ffffff;}
.el70, a:visited .el70 {display:inline-block; width:64px; height:64px; vertical-align:middle; text-align:center; position:relative; word-break:break-all; background:#333333; padding:2px; border:1px solid #FF8A00;}
.el128, a:visited .e128 {display:inline-block; width:128px; height:256px; vertical-align:middle; text-align:center; position:relative; word-break:break-all; background:#333333; padding:2px; border:1px solid #6E6E6E;}
a:hover.el70, span:hover.el70 {border:1px solid #FFFFFF;}
.el178, a:visited .e178 {display:inline-block; width:178px; height:256px; vertical-align:middle; text-align:center; position:relative; word-break:break-all; background:#333333; padding:2px; border:1px solid #6E6E6E;}
a:hover.el70, span:hover.el70 {border:1px solid #FFFFFF;}
.el102, a:visited .el102 {display:inline-block; width:98px; vertical-align:middle; text-align:center; position:relative; word-break:break-all; background:#000000; padding:2px 1px; border:1px solid #6E6E6E;}
a:hover.el102 {border:1px solid #FF8A00;}
.el134, a:visited .el134 {display:inline-block; width:128px; height:64px; vertical-align:middle; text-align:center; position:relative; word-break:break-all; background:#333333; padding:2px; border:1px solid #6E6E6E;}
a:hover.el134, span:hover.el134 {background:#6E6E6E; border:1px solid #FF8A00;}
.el140, a:visited .el140 {display:inline-block; width:136px; height:136px; vertical-align:middle; text-align:center; position:relative; word-break:break-all; background:#333333; padding:1px; border:1px solid #6E6E6E;}
a:hover.el140 {background:#6E6E6E; border:1px solid #FF8A00;}

div.exp {height:6px; background:url(../img/exp-bg.gif) repeat-x;}
div.exp div {height:6px; background:url(../img/exp-c.gif) repeat-x;}
div.hp {height:10px; background:url(../img/hp-bg.gif) repeat-x;}
div.hp div {height:10px; background:url(../img/hp-c.gif) repeat-x;}
span.bar {display:inline-block; width:160px; height:10px; background:#000000; vertical-align:middle; border:1px solid #6E6E6E;}
span.bar span {display:block; height:10px; background:#FF8A00;}
span.life {display:block; position:absolute; width:60px; height:3px; background:#000000; top:64px; left:22px;}
.el70 span.life {top:63px; left:5px;}
span.life span {display:block; position:absolute; height:100%; top:0; left:0; background:#FF8A00;}
.param-ext {display:inline-block; width:64px; padding:0px 2px 2px; border-bottom:1px solid #6E6E6E; border-left:1px solid #6E6E6E; border-right:1px solid #6E6E6E; background:#2A2A2A;}

div.loading
{
	background: #777700 url(../img/loading.gif);
	width: 100%;
	height: 50px;
}

.star1, .star2, .star3, .star4, .star5 {display:block; position:absolute; width:3px; height:3px; background:#000000; bottom:4px; right:28px;}
.star2 {right:22px;}
.star3 {right:16px;}
.star4 {right:10px;}
.star5 {right:4px;}

.msg {display:block; position:relative;}
.msg span.el70 {position:absolute; top:0px; left:0px;}
.msg span.txt {display:block; margin-left:74px; background:url(../img/bg-base.gif) repeat #000000; min-height:62px; padding:2px 4px 4px; border:1px solid #272727;}

div.filter {text-align:center;}
div.filter span {display:inline-block; margin-top:1px;}
div.filter span a {display:block; text-decoration:none; vertical-align:middle; background:#333333; padding:2px 0 4px; white-space:nowrap;}
div.filter span a.active {background:#EF7A00;}
div.filter span a:hover {background:#EF7A00;}
.w1 {width:100%;}
.w2 {width:50%;}
.w3 {width:35%;}
.w3c {width:30%;}
.bonus {padding:6px 0px; border:1px solid #272727;}

div.menu {margin-bottom:1px; text-align:center;}
div.menu span {display:inline-block; height:34px; width:100%; text-align:center; margin-top:1px;}
div.menu span.menu {width:50%;}
div.menu span a {display:block; height:34px; line-height:32px; text-decoration:none; vertical-align:middle; background:#333333; padding:0 2px; white-space:nowrap;}
div.menu span a:hover {background:#EF7A00;}
.menu-l {margin-right:1px;}
.menu-r {margin-left:1px;}

input {margin:0; height:28px; width:83px; padding:1px 4px; font:90% Verdana, Arial, sans-serif; color:#000000; border:1px solid #FF8A00; text-align:center; vertical-align:middle; background:#FFFFFF;}
select {margin:0; height:28px; padding:1px; font:100% Verdana, Arial, sans-serif; color:#000000; border:1px solid #FF8A00; text-align:center; vertical-align:middle; background:#FFFFFF;}
textarea {margin:0; height:120px; width:96%; padding:1px; font:90% Verdana, Arial, sans-serif; color:#FFFFFF; border:1px solid #FFDE00; text-align:left; background:#2F2E58;}
input.radio {width:16px; height:16px; margin:0 4px; border:none; background:url(../img/bg-base.gif) repeat #000000;}
input.num {width:70px;}
input.full {width:95%; text-align:left;}
input.btn-s {height:32px; width:98px; padding:1px; color:#FFFFFF; border:1px solid #6E6E6E; text-align:center; vertical-align:middle; background:#333333;}
input:hover.btn-s {background:#6E6E6E; border:1px solid #FF8A00;}
input.btn-i {height:34px; width:34px; color:#FFFFFF; border:1px solid #6E6E6E; background:#333333; cursor:pointer;}
input:hover.btn-i {background:#6E6E6E; border:1px solid #FF8A00;}

select {width:auto;}

a.btn-s {display:inline-block; height:30px; width:96px; line-height:28px; padding:0px; color:#FFFFFF; border:1px solid #6E6E6E; text-align:center; vertical-align:middle; background:#333333;}
a:hover.btn-s {background:#6E6E6E; border:1px solid #FF8A00;}
.btn-b, .btn-ba {display:inline-block; height:30px; width:146px; line-height:28px; padding:0px; color:#FFFFFF; border:1px solid #6E6E6E; text-align:center; vertical-align:middle; background:#333333;}
.btn-ba {border:1px solid #FF8A00;}
a:hover.btn-b, a:hover.btn-ba {background:#6E6E6E; border:1px solid #FF8A00;}

.sep-track {height:4px; margin-top:2px;}
.sep-dang {height:8px; background:#EF7A00;}
.sep-orange {height:1px; background:#EF7A00;}
.sep-light {height:1px; background:#6E6E6E;}
.sep-dark {height:1px; background:#272727;}
.sep-10 {height:10px; background:#333333;}

.col1, b {color:#FF8A00;}
b {font-weight: normal;}
.col2 {color:#0afeff;}
.col3 {color:#0000ff;}
.bg0 {background:#FF8A00;}
.bg1 {background:url(../img/bg-base.gif) repeat #000000;}
.bg2 {background:url(../img/bg-battle.gif) repeat #272727;}
.bg3 {background:url(../img/bg-orange.gif) repeat #EF7A00;}
.bg3gr {background:url(../img/bg-orange-gr.png) repeat-x bottom;}
.brd1 {border:1px solid #0afeff;}

.displ {padding:9px; text-align:center; min-height: 25px;}
.displ-t {background:url(../img/bg-base.gif) repeat #000000;}

.blik {display:none; position:absolute; width:0px; height:1px; top:0px; left:0px; text-align:right; background:url(../img/blik.png) no-repeat right;}
.cnt {float:right; display:inline-block; width:30px; height:34px; text-align:right; background:url(../img/dash32.gif) repeat-x; padding-right:2px;}
.auct, .auct2 {display:block; background:#666666; margin:2px 0 0 78px;}
.auct2 {background:#FF8A00;}
.auct span, .auct2 span {display:inline-block; background:black; border:#666666 1px solid; padding:2px 4px 4px;}
.auct2 span {border-color:#FF8A00;}

.bl {display:block;}
.bli {display:inline-block;}
.nw {white-space:nowrap;}
.c {text-align:center;}
.l {text-align:left;}
.i {margin:0 8px 0 0;}
.i2 {margin-right:2px;}
.fll {float:left; margin:0 2px 0 0;}
.flr {float:right; margin:0 0 0 2px;}
.flc {clear:both;}
.pall {padding:2px;}
.ptb {padding:2px 0;}
.pt {padding:2px 0 0;}
.pb {padding:0 0 4px;}
.p16 {padding:16px 0;}
.ptxt {padding:0px 2px 2px;}
.m1 {margin:1px;}
.lh32 {line-height:32px;}

a {font:14px Verdana, Arial, sans-serif; color:#FFFFFF; text-decoration:none;}
a:hover {color:#FFFFFF; text-decoration:none;}
a:hover.col1 {color:#FF8A00;}

/* Battle */
.elbt {display:inline-block; width:64px; height:64px; vertical-align:middle; text-align:center; word-break:break-all; background:#333333; position:relative; margin-bottom:2px;}
.elbs, .elbsc {display:inline-block; width:32px; height:32px; vertical-align:middle; text-align:center; word-break:break-all; background:#333333; margin:0 0 2px;}
.elbsc {margin:0 2px 2px;}
.battle-act {display:inline-block; width:100px; height:64px; margin:0 2px 2px; vertical-align:middle;}
.battle-act2 {display:block; width:106px; height:37px; position:relative; margin:0;}
.battle-act2a {display:block; width:106px; height:12px; position:relative; margin:0;}
.battle-act2a img {position:absolute; top:0px; left:0px;}
a.battle-skip {display:inline-block; height:28px; width:98px; line-height:26px; padding:0px; color:#FFFFFF; border:1px solid #6E6E6E; text-align:center; vertical-align:middle; background:#333333;}
a:hover.battle-skip {background:#6E6E6E; border:1px solid #FF8A00;}
.battle-block {display:inline-block; width:98px; height:100px; position:relative; margin:2px 0 0;}
.battle-unit {display:inline-block; width:64px; height:64px; vertical-align:middle; text-align:center; background:#333333; position:absolute; top:0px; left:0px;}
.battle-boost1, .battle-boost2 {display:inline-block; height:32px; width:32px; vertical-align:middle; text-align:center; background:#333333; position:absolute; top:0px; left:66px;}
.battle-boost2 {top:32px;}
.battle-crew {display:inline-block; height:21px; width:21px; vertical-align:middle; text-align:center; background:#333333; border:1px solid #6E6E6E; position:absolute; top:66px; left:0px;}
.ind2 {left:25px;}
.ind3 {left:50px;}
.ind4 {left:75px;}
.battle-crew img {position:absolute; top:0px; left:0px;}
.battle-bar {display:inline-block; width:96px; height:10px; background:#000000; vertical-align:middle; border:1px solid #6E6E6E; position:absolute; top:91px; left:0px;}
.battle-bar span {display:block; height:10px; background:#FF8A00;}
.act-crew {top:0px;}
.act-bar {top:25px;}
.act-bar2 {top:0px; left:12px; width:84px;}
.act-res {display:inline-block; height:64px; width:64px; vertical-align:middle; text-align:center; position:absolute; top:0px; left:0px;}

/* Chat */
.chat-me {color:#0afeff;}
.chat-all {color:#ffffff;}
.chat-public{color:#ffffff;}
.chat-clan {color:#ff2222;}
.chat-gildia {color:#2222ff;}
.chat-ebuy {color:#22ff22;}
.chat-other {color:#22ff22;}
.chat-active {background:url(../img/bg-base.gif);}
.chat-tome {color: red;}
.chat input[type=button].selected { background: grey;}

.chatlist div
{
    display: inline-block;
    width: 300px;
    height: 32px;
    padding: 0 8px;
}
.chatlist div a {display: block; border: 1px solid red;}
.chatlist div img { width: 32px; }
.chatlist div span {width:32px; height: 32px; float: right; }
.chatlist div span.options {background: url(../img/options.png)}

.chatlist div.options { height: 64px; }

.animation { -webkit-transition: 1s; }

.animation.ng-enter-stagger,
.animation.ng-leave-stagger{
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transition-duration:0;
  transition-duration:0;
}
.animation.ng-leave { opacity: 1; }
.animation.ng-leave.ng-leave-active { opacity: 0; }

.animation.ng-enter { opacity: 0; }
.animation.ng-enter.ng-enter-active { opacity: 1; }

/* war */
.wartitle { background: url(../img/menu.gif) repeat-x #62620a; }
.war .army { color: rgb(5, 17, 153); margin: 2px; }
.war .user { color: #ffffff; margin: 2px;}
.wartitle .myarmy { width: 48% }
.wartitle .otherarmy { width: 48%; float: right; text-align: right; }
.war .myarmy { }
.war .otherarmy { text-align: right; }
.war table.war { width: 100%; }
.war table.war td { vertical-align: top; }

.skills  {
	background: url(../img/skills/0.jpg);
}
.skills .skill { border: 1px solid #FF8A00;; width: 62px; height: 62px; display: inline-block; text-align: left; vertical-align: top; font:100% Verdana, Arial, sans-serif; font-weight: bold;color: #FF8A00;background: -1px -1px; }
.skills .ready { background-position-y: 0px; }
.skills .incast { background-position-y: -32px; }
.skills .used { background-position-y: -64px; }
.skills .off { background-position-y: -128px; }
.skills .calldown { background-position-y: -128px; }
.skills .skill:hover { border: 1px solid #ffffff; }
.skills .skill .time { margin: 3px 0px 0px 2px;}
.skills .skill .count { float: right; margin: 18px 5px 3px 3px;}

.war .history { font:80% Verdana, Arial, sans-serif; }
.war .history .army { color: #0afeff; }
.war .history .skill { color: #ff2222; }


.warmap
{
    position: relative;
    min-height: 200px;
    border: 5px solid blue;
}
.warmap span
{
    position: absolute;
    background: no-repeat;
    width: 25px;
    height: 25px;
}





.skills .hero { border: 1px solid #FF8A00;; width: 62px; height: 62px; display: inline-block; text-align: left; vertical-align: top; font:100% Verdana, Arial, sans-serif; font-weight: bold;color: #FF8A00;background: -1px -1px; }
.skills .hero:hover { border: 1px solid #ffffff; }
.skills .hero .time { margin: 3px;}
.skills .hero .count { float: right; margin: 18px 5px 3px 3px;}








.buildpage a {color:#FF8A00;}






.chat-msg {position:relative; border:1px solid #6E6E6E; padding:2px 4px 4px; margin:8px 0 0;}
span.chat-mark {display:inline-block; height:6px; width:11px; position:absolute; top:-6px; left:10px;}
.chat-all span.chat-mark {background:url(../img/chat-all.gif);}
.chat-me span.chat-mark {background:url(../img/chat-me.gif);}

/* Pager */
.pager {padding:2px 0; text-align:center; color:#FFFFFF;}
.pager-a {display:inline-block; padding:0 2px; color:#FF8A00; line-height:30px;}
.pager-c {display:inline-block; vertical-align:middle; text-align:center; width:50%; max-width:180px;}

/* form */
input, select
{
	color: #FF8A00;
	background: black;
}
input, select
{
	height: 28px;
}
input[type=checkbox]
{
	background: url(../img/aero.png);
}



.loc {height:34px; background:url(../img/menu.gif) repeat-x #333333; border:0px;}
.param-bot {background:url(../img/param-bot.gif) repeat #272727;}
.title {background:url(../img/menu.gif) repeat-x #333333; border:0px; padding-top:3px;}

.el34 {background:url(../img/el32e.gif) #ffffff;}
.el70 {background:url(../img/el68e.gif) #ffffff;}
.el134 {background:url(../img/el134.gif) #ffffff; padding:3px; border:0px;}
a:hover.el134, span:hover.el134 {background-image:url(../img/el134-hover.gif); border:0px;}
.el140 {background:url(../img/el140.gif) #ffffff; padding:2px; border:0px;}
a:hover.el140 {background-image:url(../img/el140-hover.gif); border:0px;}

span.bar {height:12px; background:url(../img/bar.gif) #000000; border:0px;}
span.bar span {height:12px; background:url(../img/bar-active.gif) #FF8A00;}

div.filter span a {background:url(../img/menu.gif) repeat-x #333333;}
div.filter span a.active, div.filter span a:hover {background-image:url(../img/menu-hover.gif);}

div.menu span a {background:url(../img/menu.gif) repeat-x scroll 0 0 #333333;}
div.menu span a:hover {background-image:url(../img/menu-hover.gif);}

input.btn-s {background:url(../img/btn98.png) transparent; border:0px;}
input:hover.btn-s {background:url(../img/btn98h.png) transparent; border:0px;}
input.btn-i {background:url(../img/el34.gif) #333333; padding:1px; border:0px;}
input:hover.btn-i {background-image:url(../img/el34-hover.gif); border:0px;}
input.btn-smiles {background-image:url(../img/smiles.png);}
input:hover.btn-smiles {background-image:url(../img/smiles-hover.png);}

a.btn-s {background:url(../img/btn98.png) transparent; padding:1px; border:0px;}
a:hover.btn-s {background:url(../img/btn98h.png) transparent; padding:1px; border:0px;}
.btn-b {background:url(../img/btn148.png) transparent; padding:1px; border:0px;}
a:hover.btn-b {background:url(../img/btn148h.png) transparent; padding:1px; border:0px;}
.btn-ba {background:url(../img/btn148a.png) transparent; padding:1px; border:0px;}
a:hover.btn-ba {background:url(../img/btn148ah.png) transparent; padding:1px; border:0px;}

.sep-track {height:34px; background:url(../img/sep-track.png) repeat-x; margin-top:2px;}
.sep-dang {background:url(../img/sep-dang.gif) repeat-x;}
.sep-10 {background:url(../img/sep-10.gif) repeat;}

/* Display */
.displ-t {background:url(../img/display-t.gif) repeat-x #272727;}
.displ-l {background:url(../img/display-l.gif) repeat-y;}
.displ-r {background:url(../img/display-r.gif) repeat-y right;}
.displ-b {background:url(../img/display-b.gif) repeat-x bottom;}
.displ-tl {background:url(../img/display-tl.gif) no-repeat;}
.displ-tr {background:url(../img/display-tr.gif) no-repeat right top;}
.displ-bl {background:url(../img/display-bl.gif) no-repeat left bottom;}
.displ-br {background:url(../img/display-br.gif) no-repeat right bottom;}

/* Battle */
.elbt {background:url(../img/el64.gif) #333333;}
.elbs, .elbsc {background:url(../img/el32.gif) #333333;}
a.battle-skip {background:url(../img/btn100.png) transparent; padding:1px; border:0px;}
a:hover.battle-skip {background:url(../img/btn100h.png) transparent; padding:1px; border:0px;}
.battle-unit {background:url(..img/el64.gif) #333333;}
.battle-boost1, .battle-boost2 {background:url(../img/el32.gif) #333333;}
.battle-bar {height:12px; background:url(../img/bar.gif) #000000; border:0px; width:98px;}
.battle-bar span {height:12px; background:url(../img/bar-active.gif) #FF8A00;}
.act-bar2 {width:86px;}


/* City */
#topmenu div.sub
{
	background: #707010;
	display: none;
	position: absolute;
	z-index: 10;
}
#topmenu div.sub a
{
	display: block;
	text-align: left;
	background: url(../img/menu.gif) repeat-x #909010;
	padding: 0px 5px;
	margin: 0px;
	height:33px;
	line-height:32px;
	vertical-align:middle;
	position:relative;
	border-top:1px solid #6E6E6E;
}




.bar
{
    background: black url(../img/bar.png) repeat-x;
    position: relative;
    width: 100%;
}
.bar div
{
    height: 20px;
    display: block;
}
.bar .hpval,
.bar .mpval
{
    position: absolute;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    margin-top: 2px;
}
.bar .mpval
{
    margin-top: 22px;
}

.bar div.hpbar
{
    background: red url(../img/bar.png) 0px -45px repeat-x;
}
.bar div.mpbar
{
    background: blue url(../img/bar.png) 0px -65px repeat-x;
}
.bar div.expbar
{
    background: green url(../img/bar.png) 0px -85px repeat-x;
    height: 5px;
}
.bar .r
{
    float: right;
    padding-bottom: 20px;
}





.pall .bl70
{
    margin-left: 71px;
}
.pall .bl128
{
    margin-left: 135px;
}
.pall .bl178
{
    margin-left: 185px;
}
.items .bar,
.items .bar .hpval,
.items .bar .mpval
{
    width: 248px;
}
/*
.flc .bar,
.flc .bar .hpval,
.flc .bar .mpval
{
    width: 320px;
}
*/
.history span 
{ display: inline; }
.history .date
{ color: #FF8A00; }
.history .from
{ color: grey; }
.history .s .msg 
{ color: green; }

/* Multi column */
body
{
    max-width: 320px;
}
@media screen and (min-width: 640px)
{
    body
    {
        max-width: 640px;
    }
    .mcol {
        width: 320px;
        float: left;
        /*overflow-y: scroll;*/
    }
    #footer,
    .sep-dang,
    .param-bot {
        display: none;
    }
}
@media screen and (min-width: 960px)
{
    body
    {
        max-width: 960px;
    }
    .mcol {
        width: 320px;
        float: left;
        /*overflow-y: scroll;*/
    }
    #footer,
    .sep-dang,
    .param-bot {
        display: none;
    }
}
