<div class="mcol">
	<div class="title" ng-show="cityid"><a href="#/city/{{cityid}}">Обучение в {{city.title}}</a></div>
	<div class="title" ng-hide="cityid">Обучение во всех городах</div>

	<div ng-show="0" class="chatlist">
		<div>
			<span class="listen"></span>
			<a href="#/unitconveer">
				<img src="{{domain}}/img/clan/2_0.jpg" />Все города
			</a>
		</div>
		<div ng-repeat="c in citylist">
			<span class="listen"></span>
			<a href="#/unitconveer/{{c.id}}">
				<img src="{{domain}}/img/clan/2_0.jpg" />
				{{c.title}}
			</a>
		</div>
	</div>
	
	<div class="pall" ng-if="unitconveers.length==0">Никто не обучается</div>
	<div ng-repeat="uc in unitconveers | sorter:{endtime: 'asc'}">
	<div class="pall">
		<a href="#/unit/{{uc.unitid}}">
			<span class="el70 fll"><img width="64" height="64" class="fll" src="{{domain}}/img/units/{{uc.unitid}}.jpg" alt=""></span>
			<span class="bl" style="font-weight: bold">
				{{uc.title}} <span class="col1">{{uc.count}} ед.</span>
			</span>
		</a>
		<span class="bl">Осталось <span class="col1">{{uc.endtime-time | ts2human}}</span></span>
		<span class="bl"><a ng-click="" class="col1">Закончить обучение <img src="../img/silver.gif" /></a></span>
		<div class="flc"></div>
	</div>
	<div class="sep-light"></div>
	<div class="sep-dark"></div>
	</div> 
</div>
<div class="mcol">
	<div class="title">Обучить</div>
	<div ng-repeat="unit in units">
	<div class="pall">
		<a href="#/unit/{{unit.typeid}}">
			<span class="el70 fll"><img width="64" height="64" class="fll" src="{{domain}}/img/units/{{unit.typeid}}.jpg" alt=""></span>
			<span class="bl">{{unit.title}}			
				<span class="col1">[{{unit.unittype}}]</span>
			</span>
			<span class="bl col1">{{unit.more}}</span>
		</a>
		<span class="bl"></span>
		<div class="flc"></div>
	</div>

	<div class="bg1"><span class="col1">Цена:</span>
		<span ng-repeat="(n, v) in unit.cost" ng-show="v>0"><img src="../img/res/{{n}}.gif" />{{v}}&nbsp; </span>
	<br /><span class="col1">Урон:</span>
		<span ng-repeat="(n, v) in unit.damage" ng-show="v>0"><img src="../img/magic/{{n}}.png" />{{v}}&nbsp; </span>
	<br /><span class="col1">Защита:</span>
		<span ng-repeat="(n, v) in unit.protect" ng-show="v>0"><img src="../img/magic/{{n}}.png" />{{v}}&nbsp; </span>
	</div>


	<div class="title">
		<a ng-click="count=unit.count">Max: {{unit.count}}</a>
		<input type="text" name="count" ng-model="count"/>
		<input type="button" value="Обучить" ng-click="newconveer(unit.typeid, count)"/>
	</div>

	<div class="sep-light"></div>

	<div class="sep-dark"></div>
	</div>
</div>