<div class="mcol">
<div class="displ-t"><div class="displ-l"><div class="displ-r"><div class="displ-b"><div class="displ-tl"><div class="displ-tr"><div class="displ-bl"><div class="displ-br"><div class="displ">
<mapview position="p" place="place" h=2 w=2></mapview>
</div></div></div></div></div></div></div></div></div>
</div>
<div class="mcol">
	
<div class="title">Ссылки и параметры</div>
<a href="#/map/1:1:0">1:1:0</a> | 
<a href="#/map/40:14:0">40:14:0</a> | 
<a href="#/map/29:29:0">29:29:0</a> | {{p}} | {{place}}
{{city | json}}
<div class="title" ng-show="city">Город</div>
<div class="pall" ng-show="city">
	<a href="#/city/{{city.id}}">
		<span class="el70 fll"><img width="64" height="64" class="fll" src="{{domain}}/img/users/{{city.uid}}.jpg" alt=""></span>
		<span class="bl">{{city.title}}
			<img src="../img/agr16.gif" ng-show="army.rel=='agr'" />
			<img src="../img/friend16.gif" ng-show="army.rel=='friend'" />
		</span>
		<span ng-show="city.uid!=myuser.id" class=" col1" >
			<img ng-show="city.gildia" src="{{domain}}/img/gildia/{{city.gildia}}.jpg" height="16px" />
			<img ng-show="city.alliance" src="{{domain}}/img/alliance/{{city.alliance}}.jpg" height="16px" />
			<img ng-show="city.clan" src="{{domain}}/img/clan/{{city.clan}}.jpg" height="16px" />
			{{city.nickname}}
		</span>
		<div class="bl70"><hpbar hp="{{city.hp}}" hpmax="{{city.hpmax}}" mp="{{city.mp}}" mpmax="{{city.mpmax}}" exp="{{city.exp}}"></hpbar></div>
		<span class="bl">
		</span></a>
		<div class="flc"></div>
</div>


<div class="title" ng-click="armieshide=!armieshide">Армии</div>
<div class="pall" ng-hide="armieshide" ng-repeat="army in armies | orderBy:id | sorter:{uid: myuser.id}">
	<a href="#/army/{{army.id}}">
		<span class="el70 fll"><img width="64" height="64" class="fll" src="{{domain}}/img/users/{{army.uid}}.jpg" alt=""></span>
		<span class="bl">{{army.title}}
			<img src="../img/agr16.gif" ng-show="army.rel=='agr'" />
			<img src="../img/friend16.gif" ng-show="army.rel=='friend'" />
		</span>
		<span ng-show="army.uid!=myuser.id" class=" col1" >
			<img ng-show="army.gildia" src="{{domain}}/img/gildia/{{army.gildia}}.jpg" height="16px" />
			<img ng-show="army.alliance" src="{{domain}}/img/alliance/{{army.alliance}}.jpg" height="16px" />
			<img ng-show="army.clan" src="{{domain}}/img/clan/{{army.clan}}.jpg" height="16px" />
			{{army.nickname}}
		</span>
		<div class="bl70"><hpbar hp="{{army.hp}}" hpmax="{{army.hpmax}}" mp="{{army.mp}}" mpmax="{{army.mpmax}}" exp="{{army.exp}}"></hpbar></div>
		<span class="bl">
		</span></a>
		<div class="flc"></div>
</div>


<div class="title">Действия</div>
<div class="skills">
<a ng-click="view='army'; armieshide=true" class="hero" style="background:url(../img/map/run.jpg)" title="Отправить армию"></a><a
ng-click="view='razved'; armieshide=true" class="hero" style="background:url(../img/map/razved.jpg)" title="Отправить разведку"></a><a
ng-click="view='res'; armieshide=true" class="hero" style="background:url(../img/map/proviz.jpg)" title="Отправить провизию"></a>
</div>

<div ng-show="view=='army'">
<div class="title">Отправить армию<img ng-show="waytoloading" width="16" height="16" src="../img/isloading.tr.gif" alt="Loading..."></div>
<div class="pall" ng-repeat="army in myarmies | lister:{doing: 'ready', type: 'army'}">
	<a href="#/army/{{army.id}}">
		<span class="el70 fll"><img ng-hide="army.upd" width="64" height="64" class="fll" src="{{domain}}/img/users/{{army.uid}}.jpg" alt=""><img ng-show="army.upd" width="64" height="64" class="fll" src="/img/load64.gif" alt=""></span>
	</a>
		<span class="bl">{{army.title}}</span>
		<div class="bl70"><hpbar hp="{{army.hp}}" hpmax="{{army.hpmax}}" mp="{{army.mp}}" mpmax="{{army.mpmax}}" exp="{{army.exp}}"></hpbar></div>
		<span class="bl col3">{{{city: 'Армия города', ready: 'Ждет Ваших указаний', going:'В движении', inwar: 'В битве'}[army.doing]}}</span>
		<span class="bl col1" ng-show="(army.timetotarget>0) && (waytoloading==0)">Время движения до цели: {{army.timetotarget | ts2human}} <span class="col3" ng-click="armygo(army.id)">Отправить</span></span>
		<span class="bl col1" ng-show="(army.timetotarget==false) && (waytoloading==0)">Невозможно проложить маршрут</span>
		<span class="bl col1" ng-show="waytoloading">Время движения до цели вычисляется</span>
	<div class="flc"></div>
</div>
</div>

<div ng-show="view=='razved'">
<div class="title">Отправить разведку</div>
</div>

<div ng-show="view=='res'">
<div class="title">Отправить ресурсы</div>
</div>

</div>