<table class="map" border="0" style="background: {{placebg}} {{scene}} {{background}}">
<tr ng-click="setPos(pos.x, pos.y+pos.h)">
	<td width='25px'></td>
	<td ng-repeat="c in cols" width='50px'>{{c}}</td>
	<td width='25px'></td>
</tr>
<tr ng-repeat="r in rows" height='50px' >
	<td ng-click="setPos(pos.x-pos.w, pos.y)">{{r}}</td>
	<td ng-repeat="c in cols" ng-click="setPlace(c, r)"></td>
	<td ng-click="setPos(pos.x+pos.w, pos.y)">{{r}}</td>
</tr>
<tr ng-click="setPos(pos.x, pos.y-pos.h)">
	<td></td>
	<td ng-repeat="c in cols">{{c}}</td>
	<td></td>
</tr>
</table>