<div class="title"><a href="#/mails">Сообщения</a></div>

<div ng-show="loading" class="loading"></div>

<div ng-hide="loading">

<div class="pall">
	<a href="#/user/{{dialog.uid}}">
		<span class="el70 fll"><img width="64" height="64" class="fll" src="{{domain}}/img/users/{{dialog.uid}}.jpg" alt=""></span>
	
		<span class="bl col1">{{dialog.nickname}}</span>
	<div class="flc"></div></a>
</div>

<div class="sep-light"></div>
<div class="sep-dark"></div>

<div class="sep-light"></div>
<div class="sep-dark"></div>

<div ng-repeat="mail in dialog.mails">
{{mail.datestr}}: {{mail.text}}
<div class="sep-light"></div>
<div class="sep-dark"></div>
</div>
</div>
