<div class="title">Диалоги</div>
<div ng-repeat="dialog in dialogs">
<div class="pall">
	<a href="#/mail/{{dialog.id}}">
		<span class="el70 fll"><img width="64" height="64" class="fll" src="{{domain}}/img/users/{{dialog.id}}.jpg" alt=""></span>
	
		<span class="bl col1">{{dialog.nickname}}</span>
		<span class="bl">Новых сообщений: {{dialog.count}}</span>
	<div class="flc"></div></a>
</div>

<div class="sep-light"></div>
<div class="sep-dark"></div>
</div>