<div class="title">Герои</div>
<div ng-repeat="hero in heroes">
<div class="pall">
	<a href="#/hero/{{hero.id}}">
		<span class="el70 fll"><img width="64" height="64" class="fll" src="{{domain}}/img/hero/{{hero.herobase}}.jpg" alt=""></span>
		<span class="bl">
			{{["Маг","Генерал"][(hero.type)-1]}} <span class="col1">{{hero.title}}</span> [{{hero.level}}] </a>
		</span>
		<div class="bl70"><hpbar hp="{{hero.hp}}" hpmax="{{hero.hpmax}}" mp="{{hero.mp}}" mpmax="{{hero.mpmax}}" exp="{{hero.exp}}"></hpbar></div>
		<div class="flc"></div>

	<span class="bl">{{hero.more}}</span>
	<div class="flc"></div>
</div>
<div class="sep-light"></div>
<div class="sep-dark"></div>
</div>