<div class="title"><a href="#/heroes">{{hero.title}} [{{hero.level}}]</a></div>
<div class="pall">
	<span class="el178 fll"><img width="178" height="256" class="fll" src="{{domain}}/img/hero/{{hero.herobase}}full.jpg" alt=""></span>
	<div>{{["Маг","Генерал"][(hero.type)-1]}} армии <a href="#" class="col1">Title</a></div>
	<span class="bl">{{hero.more}}</span>
        <div class="bl178">
			<div class=" bar">
				<div class="hpval">{{hero.hp}}/{{hero.hpmax}}</div>
				<div class="mpval">{{hero.mp}}/{{hero.mpmax}}</div>
				<div class="hpbar" style="width:{{int(hero.hp/hero.hpmax*100)}}%"></div>
				<div class="mpbar" style="width:{{hero.mp/hero.mpmax*100}}%"></div>
				<div class="expbar" style="width:{{hero.exp}}%"></div>
			</div>
		</div>
		<div class="title">Пасивный бонус</div>
		<div class="title">Возможности:</div>
	<span class="bl">{{hero.more}}</span>
	<div class="flc"></div>
</div>

<div class="menu">
	<span><a class="menu" href="#/hero/{{hero.id}}/progress">
		<img class="i" width="32" height="32" src="../img/post.gif" alt="">Развитие</a>
	</span>
</div>

<div class="title">Умения</div>
<div ng-repeat="skill in hero.skills">
	<div class="pall">
		<a href="#/skill/{{skill.id}}">
			<span class="el70 fll"><img width="64" height="64" class="fll" src="{{domain}}/img/skills/{{skill.skillbase}}.jpg" alt=""></span>
			<span class="bl col1">{{skill.title}}</span></span>
		</a>
		<span class="bl">{{skill.more}}</span>
		<div class="flc"></div>
	</div>
	<div class="sep-light"></div>
	<div class="sep-dark"></div>
</div>

