<div class="warmap" style="background: {{anime}} {{placebg}} {{scene}} {{background}}; min-height: 200px">
<span ng-repeat="i in items" style="background: url(../img/war/{{i.img}}.png) -{{i.cadr*i.w}}px -{{i.anim*i.h}}; width: {{i.w}}; height: {{i.h}}; left: {{i.x}}; top:{{i.y}}"></span>
</div>