<div class="war">

<div class="mcol">

	<div class="title" ng-show="war.status=='prepare'">Подготовка к битве. Осталось {{time-war.starttime | ts2human}}</div>
	<div class="title" ng-show="war.status=='battle'">Битва идет {{time-war.starttime | ts2human}}</div>
	<div class="title" ng-show="war.status=='end'">Битва закончена</div>
	<div class="title" ng-show="war.status=='battle'">{{war.win}}%</div>
	<div class="title" ng-show="war.status=='end'">{{war.result}}</div>

<div class="warmap" style="background: {{anime}} {{placebg}} {{scene}} {{background}}; min-height: 200px">
<span ng-repeat="i in items" style="background: url(../img/war/{{i.img}}.png) -{{i.anim*i.w}}px -{{i.cadr*i.h}}; width: {{i.w}}px; height: {{i.h}}px; left: {{i.x}}px; top:{{i.y}}px"></span>
</div>


	<div class="wartitle" ng-click="staffview=!staffview">
	<div class="otherarmy">
	<a href="#/army/{{war.other.id}}">{{war.other.title}}</a><br/>
	<hpbar hp="{{war.other.hp}}" hpmax="{{war.other.hpmax}}" mp="{{war.other.mp}}" mpmax="{{war.other.mpmax}}"></hpbar>
	</div>
	<div class="myarmy">
	Ваше войско<br />
	<hpbar hp="{{war.me.hp}}" hpmax="{{war.me.hpmax}}" mp="{{war.me.mp}}" mpmax="{{war.me.mpmax}}"></hpbar>
	</div>
	</div>

	<table class="war" ng-hide="staffview">
	<tr><td class="myarmy">
	<a ng-repeat="unit in war.me.staff" href="#/unit/{{unit.typeid}}">{{unit.title}}: <span class="col1">{{unit.count}}</span><span class="col2">/{{unit.all}}</span><br/></a>
	</td><td class="otherarmy">
	<a ng-repeat="unit in war.other.staff" href="#/unit/{{unit.typeid}}">{{unit.title}}: <span class="col1">{{unit.count}}</span><span class="col2">/{{unit.all}}</span><br/></a>
	</td></tr>
	</table>
	
	<div class="title" ng-click="logview=!logview">История боя</div>
	<div class="history" ng-hide="logview">
		<div class=""><span class="date">{{war.time.next-time | ts2human}}</span>
			<span class="from"></span>: <span class="msg">Следующий шаг</span>
		</div>
		<div class=""><span class="date">{{war.time.last-time | ts2human}}</span>
			<span class="from"></span>: <span class="msg">Последний шаг</span>
		</div>
		<div ng-repeat="i in war.log | orderBy:t:true" class="{{i.type}}"><span class="date">{{i.t | ts2human}}</span>
			<span class="from">{{i.o}}</span>: <span class="msg">{{i.m}}</span>
		</div>
	</div>

</div>
<div class="mcol">

	<div class="title" ng-click="controlview=!controlview">Управление</div>
	<div class="skills" ng-hide="controlview">
		<a ng-repeat="s in war.skills" ng-click="skill(s.id)" class="skill {{s.status}}"
		style="background-image: url({{domain}}/img/skills/{{s.skillbase}}.jpg)" title="{{s.title}}
	{{s.textstatus}}
	{{s.herotitle}}">
		<div class="time">{{time-s.endtime | ts2human:true}}&nbsp;</div><div class="count" val="1">{{s.count | count2human}}</div></a>
	</div>

	<div class="title" ng-click="heroesview=!heroesview">Герои</div>
	<div class="skills" ng-show="heroesview">
		<a ng-repeat="hero in war.heroes" href="#/hero/{{hero.id}}" class="hero" style="background:url({{domain}}/img/hero/{{hero.herobase}}.jpg)" title="{{hero.title}}"></a>
	</div>
	<div class="menu"><span
		class="menu"><a class="menu-l" ng-click="action('startwar')"><img class="i" width="32" height="32" src="/img/battle.gif" alt="">Начать битву</a></span><span
		class="menu"><a class="menu-l" ng-click="action('reset')"><img class="i" width="32" height="32" src="/img/battle.gif" alt="">Reset</a></span><span
		class="menu"><a class="menu-l" ng-click="action('preparestep')"><img class="i" width="32" height="32" src="/img/battle.gif" alt="">PrepareStep</a></span><span
		class="menu"><a class="menu-l" ng-click="action('warstep')"><img class="i" width="32" height="32" src="/img/battle.gif" alt="">WarStep</a></span><span
		class="menu"><a class="menu-l" ng-click="action('surrender')"><img class="i" width="32" height="32" src="/img/battle.gif" alt="">Сдаться</a></span><span
		class="menu"><a class="menu-r" ng-click="action('truce')"><img ёclass="i" width="32" height="32" src="/img/profile.png">Перемирие</a></span></div>
	</div>
</div>
<div class="mcol">
<pre>{{war | json}}</pre>
</div>


