<div class="mcol">
	<div class="title">{{myclan.title}}</div>

	<div class="pall">
			<span class="el70 fll"><img width="64" height="64" class="fll" src="{{domain}}/img/clan/{{myclan.id}}.jpg" alt=""></span>
			<span class="bl col1">{{myclan.title}}</span></span>
			<span class="bl"></span>
		<span class="bl">Предводитель: {{myclan.liderid}}</span>
		<div class="flc"></div>
	</div>
</div>
<div class="mcol">
	<div class="menu"><span><a class="menu c" ng-click="out('clan')">Покинуть</a></span></div>

	<div class="sep-light"></div>

	<div class="sep-dark"></div>

	{{myclan.more}}

	<div class="title">Состав ({{myclan.count}})</div>

</div>
