<div class="mcol">
	<pre>{{clan | json}}</pre>
	<div class="title">Ваш клан</div>
	<div class="pall" ng-show="myclan">
		<a href="#/diplomat/clan">
			<span class="el70 fll"><img width="64" height="64" class="fll" src="{{domain}}/img/clan/{{myclan.id}}.jpg" alt="" /></span>
			<span class="col1">{{myclan.title}}</span>
			<span class="bl">Состоит в клане: <span class="col1">{{myclan.count}}</span> </span>
			<span class="bl"></span>
		</a>
		<span class="bl">
		</span>
		<div class="flc"></div>
	</div>

	<div class="pall" ng-hide="myclan">
	Вы не состоите ни в одном клане. <a href="#/clan/search" class="col1">Искать кланы</a>
	</div>

	<div class="title">Ваша гильдия</div>

	<div class="pall" ng-show="mygildia">
		<a href="#/diplomat/gildia">
			<span class="el70 fll"><img width="64" height="64" class="fll" src="{{domain}}/img/gildia/{{mygildia.id}}.jpg" alt=""></span>
			<span class="col1">{{mygildia.title}}</span>
			<span class="bl">Состоит в гильдии: <span class="col1">{{mygildia.count}}</span> </span>
		</a>
		<span class="bl"></span>
		<div class="flc"></div>
	</div>
	<div class="pall" ng-hide="mygildia">
	Вы не состоите не в одной гильдии. <a href="#/gildia/search" class="col1">Искать гильдии</a>
	</div>
</div>
<div class="mcol">
	<div class="menu">
		<span><a class="menu" href="#/diplomat/friends"><img class="i" width="32" height="32" src="../img/post.gif" alt="">Друзья</a></span>
		<span><a class="menu" href="#/diplomat/war"><img class="i" width="32" height="32" src="../img/post.gif" alt="">Противники</a></span>
	</div>
</div>