<div class="title">Юниты</div>

<div ng-repeat="unit in units">
<div class="pall">
	<a href="#/unit/{{unit.typeid}}">
		<span class="el70 fll"><img width="64" height="64" class="fll" src="{{domain}}/img/units/{{unit.typeid}}.jpg" alt=""></span>
		<span class="col1">{{unit.title}}</span>
		<span class="bl">{{unit.more}}</span>
	</a>
	<div class="flc"></div>
</div>

<div class="sep-light"></div>

<div class="sep-dark"></div>
</div>