<div class="title"><a href="">{{unit.title}}</a></div>
<div class="pall">
		<span class="el128 fll"><img width="128" height="256" class="fll" src="{{domain}}/img/units/{{unit.typeid}}full.jpg" alt=""></span>
		<span class="bl">{{unit.more}}</span>
		<div class="title">Сила:</div>
		<span class="col1">HP:</span>{{unit.hp}} &nbsp; 
		<span class="col1">MP:</span>{{unit.mp}} <br/>
		<span class="col1">Скорость:</span>{{unit.speed}} <br/>
		<span class="col1">Тип:</span>{{unit.unittype}}
		<div class="title">Урон:</div>
		<div class="title">Защита:</div>
		<div class="title">Стоимость:</div>
		<span class="bl"></span>
	<div class="flc"></div>
</div>
