<div class=" bar">
        <div class="hpval">{{hp | count2human}} / {{hpmax | count2human}}</div>
        <div ng-show="mpmax" class="mpval">{{mp | count2human}} / {{mpmax | count2human}}</div>
        <div class="hpbar" style="width:{{hp/hpmax*100}}%"></div>
        <div ng-show="mpmax" class="mpbar" style="width:{{mp/mpmax*100}}%"></div>
        <div ng-show="exp" class="expbar" style="width:{{exp}}%"></div>
</div>
