<div class="title">Армия {{army.title}}</div>

<div class="mcol">
	<div class="pall">
		<a href="#/army/{{army.id}}">
			<span class="el70 fll"><img wid th="64" height="64" class="fll" src="{{domain}}/img/users/{{army.uid}}.jpg" alt=""></span>
		</a>
			<a ng-show="army.uid!=myuser.id" href="#/user/{{army.uid}}" class="bl col1" >Армия {{army.nickname}}<br /></a>
			<div class="bl70"><hpbar hp="{{army.hp}}" hpmax="{{army.hpmax}}" mp="{{army.mp}}" mpmax="{{army.mpmax}}" exp="{{army.exp}}"></hpbar></div>
		<span class="bl">
		</span>
		<div class="flc"></div>
	</div>

	<div class="title" ng-click="heroview=!heroview">Герои</div>
	<div class="skills" ng-show="heroview">
	<a ng-repeat="hero in army.heroes" href="#/hero/{{hero.id}}" class="hero" style="background:url(/img/hero/{{hero.herobase}}.jpg)" title="{{hero.title}}"></a>
	</div>

	<div class="title" ng-click="staffview=!staffview">Состав</div>
	<div ng-show="(!army.staff) && !staffview">Состав армии не известен</div>
	<div ng-show="(army.staff) && !staffview">
		<a ng-repeat="unit in army.staff" href="#/unit/{{unit.typeid}}">{{unit.title}}: <span class="col1">{{unit.count}}</span><br/></a>
	</div>
</div>
<div class="mcol">
	<div class="title">Действия</div>
	<div class="skills">
		<a class="skill" href="#/army/{{army.id}}/attack" style="background-image: url(../img/war/actions.jpg); background-position-x: 0px" title="Атаковать">
		</a><a class="skill off" href="#/army/{{army.id}}/reconnoitre" style="background-image: url(../img/war/actions.jpg); background-position-x: 64px" title="Шпионить">
		</a>
	</div>

	<div class="title">Выбор</div>

	<div class="pall" ng-repeat="a in armies | lister:{doing: 0, pos: army.pos}" ng-show="mode=='attack'">
		<a href="#/army/{{a.id}}">
			<span class="el70 fll"><img wid th="64" height="64" class="fll" src="{{domain}}/img/users/{{a.uid}}.jpg" alt=""></span>
		</a>
		<a ng-click="goAttack(a.id)">
			<span class="bl">{{a.title}}</span>
			<div class="bl70"><hpbar hp="{{a.hp}}" hpmax="{{a.hpmax}}" mp="{{a.mp}}" mpmax="{{a.mpmax}}" exp="{{a.exp}}"></hpbar></div>
			<span class="bl"></span>
			<div class="flc"></div>
		</a>
	</div>

	<div class="pall" ng-repeat="a in armies | lister:{status: 'ready'}" ng-show="mode=='attack'">
		<a href="#/army/{{a.id}}">
			<span class="el70 fll"><img wid th="64" height="64" class="fll" src="{{domain}}/img/users/{{a.uid}}.jpg" alt=""></span>
		</a>
		<span class="bl">{{army.title}}</span>
		<div class="bl70"><hpbar hp="{{a.hp}}" hpmax="{{a.hpmax}}" mp="{{a.mp}}" mpmax="{{a.mpmax}}" exp="{{a.exp}}"></hpbar></div>
		<span class="bl"></span>
		<div class="flc"></div>
	</div>
</div>