<div class="mcol">	
	<div class="title">Битвы</div>
	<div ng-repeat="war in wars | sorter:{starttime:'desc'}">
	<div class="pall">
		<a href="#/war/{{war.id}}">
			<span class="el70 fll"><img width="64" height="64" class="fll" src="../img/war.jpg" alt=""></span>
			<span class="bl">
				<a href="#/army/{{war.me.id}}" class="col1">{{war.me.title}}</a>
				и <a href="#/army/{{war.other.id}}" class="col1">{{war.other.title}}</a>
			</span>
			<span class="bl" ng-show="{{war.status=='prepare'}}">Битва начнется через: {{war.starttime-time | ts2human}}</span>
			<span class="bl" ng-show="{{war.status=='battle'}}">Битва идет: {{war.starttime-time | ts2human}}</span>
			<span class="bl" ng-show="{{war.status=='end'}}">Битва закончена</span>
			<span class="bl col1">Успех: {{war.win}}%</span>
		</a>
		<span class="bl"></span>
		<div class="flc"></div>
	</div>

	<div class="sep-light"></div>

	<div class="sep-dark"></div>

	</div>

	<div class="title">Генералы</div>
	<div class="skills">
	<a ng-repeat="gen in generals" href="#/hero/{{gen.id}}" class="hero" style="background:url({{domain}}/img/hero/{{gen.herobase}}.jpg)" title="{{gen.title}}"></a>
	</div>





</div>
<div class="mcol">


	<div class="title">Армии</div>
	<div class="pall" ng-repeat="army in armies">
		<a href="#/army/{{army.id}}">
			<span class="el70 fll"><img width="64" height="64" class="fll" src="{{domain}}/img/users/{{army.uid}}.jpg" alt=""></span>	</a>
			<span class="bl">{{army.title}}</span>
			<div class="bl70"><hpbar hp="{{army.hp}}" hpmax="{{army.hpmax}}" mp="{{army.mp}}" mpmax="{{army.mpmax}}" exp="{{army.exp}}"></hpbar></div>
		</a>
			<span class="bl col2">Сейчас находится в <a href="#/map/{{army.pos}}">{{army.pos}}</a></span>
			<span class="bl col1" ng-show="army.doing=='city'">Армия города</span>
			<span class="bl col1" ng-show="army.doing=='ready'">Ждет Ваших указаний</span>
			<span class="bl col1" ng-show="army.doing=='going'" >В движении к <a href="#/map/{{army.going}}">{{army.going}}</a>, прибудет в {{army.finished | ts2human}}</span>
			<span class="bl col1" ng-show="army.doing=='inwar'">В битве</span>
		<div class="flc"></div>
	</div>

	<div class="sep-light"></div>

	<div class="sep-dark"></div>

</div>