<div class="mcol">
<div class="title">Армия {{army.title}}</div>
<div class="pall">
	<a href="#/army/{{army.id}}">
		<span class="el70 fll"><img wid th="64" height="64" class="fll" src="{{domain}}/img/users/{{army.uid}}.jpg" alt=""></span>
	</a>
	<a ng-show="army.uid!=myuser.id" href="#/user/{{army.uid}}" class="bl col1" >Армия {{army.nickname}} ({{{my:'Ваша армия',friend:'Дружественная',agr:'Противник',other:'Нейтральная'}[army.rel]}})</a><br />
		<div class="bl70"><hpbar hp="{{army.hp}}" hpmax="{{army.hpmax}}" mp="{{army.mp}}" mpmax="{{army.mpmax}}" exp="{{army.exp}}"></hpbar></div>
		<span class="bl col2">Сейчас находится в <a href="#/map/{{army.pos}}">{{army.pos}}</a></span>
		<span class="bl col1" ng-show="army.doing=='city'">Армия города</span>
		<span class="bl col1" ng-show="army.doing=='ready'">Ждет Ваших указаний</span>
		<span class="bl col1" ng-show="army.doing=='going'" >В движении к <a href="#/map/{{army.going}}">{{army.going}}</a>, прибудет в {{army.finished | ts2human}} (через {{army.finished-time | ts2human}})</span>
		<span class="bl col1" ng-show="army.doing=='inwar'">В битве</span>
	<span class="bl">Скорость: <span class="col1">{{army.speed}}</span></span>
	<div class="flc"></div>
</div>

<div class="menu">
</div>


<div class="title" ng-show="army.uid==myuser.id">Управление</div>
<div class="skills" ng-show="army.uid==myuser.id">
	<a ng-repeat="s in army.skills" ng-click="skill(s.id)" class="skill {{s.status}}"
	style="background-image: url({{domain}}/img/skills/{{s.skillbase}}.jpg)" title="{{s.title}}
{{s.textstatus}}
{{s.herotitle}}">
	<div class="time">{{ttime}}&nbsp;</div><div class="count" val="1">{{s.count}}</div></a>
</div>

<div class="title" ng-show="army.uid!=myuser.id">Действия</div>
<div class="skills" ng-show="army.uid!=myuser.id">
	<a class="skill" href="#/army/{{army.id}}/attack" style="background-image: url(../img/war/actions.jpg); background-position-x: 0px" title="Атаковать">
	</a><a class="skill off" href="#/army/{{army.id}}/reconnoitre" style="background-image: url(../img/war/actions.jpg); background-position-x: 64px" title="Шпионить">
	</a>
</div>

</div>
<div class="mcol">
<div class="title">Герои</div>
<div class="skills">
<a ng-repeat="hero in army.heroes" href="#/hero/{{hero.id}}" class="hero" style="background:url({{domain}}/img/hero/{{hero.herobase}}.jpg)" title="{{hero.title}}"></a>
</div>

<div class="title">Состав</div>
<div ng-show="!army.staff">Состав армии не известен</div>
<div ng-show="army.staff">
	<a ng-repeat="unit in army.staff" href="#/unit/{{unit.typeid}}">{{unit.title}}: <span class="col1">{{unit.count}}</span><br/></a>
</div>

<table width="100%">
<tr>
	<td class="title" colspan=2>Состав</td>
	<td class="title" colspan=4>Параметры</td>
</tr>
<tr class="col1">
	<td style="text-align: center" colspan=2>Состав</td>
	<td style="text-align: right">Урон</td>
	<td></td>
	<td>Защита</td>
	<td>Ресы</td>
</tr>

</table>

<div class="menu">

</div>

<div class="title">История</div>
<!--div class="menu">
<span class="menu"><a class="menu-l" href="/battle/"><img class="i" width="32" height="32" src="/img/battle.png" alt="">Бой</a></span><span
 class="menu"><a class="menu-r" href="/profile/"><img class="i" width="32" height="32" src="/img/profile.png" alt="">Инфо</a></span><span
 class="menu"><a class="menu-l" href="/base/"><img class="i" width="32" height="32" src="/img/base.png" alt="">База</a></span><span
 class="menu"><a class="menu-r" href="/net/"><img class="i" width="32" height="32" src="/img/network.png" alt="">Связь</a></span><span
 class="menu"><a class="menu-l" href="/clan/"><img class="i" width="32" height="32" src="/img/clan.png" alt="">Клан</a></span><span
 class="menu"><a class="menu-r" href="/chat/"><img class="i" width="32" height="32" src="/img/chat.png" alt="">Чат</a></span>
</div-->

</div>