<div>
	<a class="loc bl" href="#/city/{{city.id}}">
		<div id="blik" class="blik" style="display: inline-block; width: 0px; left: 10px; background-position: 100% 50%;">{{city.title}}</div>
		<span class="hlpd">{{city.hp}}/{{city.hpmax}}</span>
	</a>
	<div hpbar="{ hp:{{city.hp}},hpmax:{{city.hpmax}} }" class="flc">
		<div class=" bar"><div class="hpval">{{city.hp}}/{{city.hpmax}}</div><div class="hpbar" style="width:{{city.hp/city.hpmax*100}}%"></div></div>
	</div>
</div>

<div>
	<a class="loc bl" href="#/city/{{city.id}}/canbuild">Построить</a>
</div>

<div class="title">
	<a ng-click="setGroup(2)">Военные</a> |
	<a ng-click="setGroup(3)">Добывающие</a> |
	<a ng-click="setGroup(0)">Другие</a>
</div>

<div ng-repeat="build in builds | buildsby:group">
<div class="pall">
	<a href="#/build/{{build.id}}">
		<div class="img"><img width="64" height="64" class="fll" src="{{domain}}/img/builds/{{build.type}}.jpg" alt=""></div>
		<div class="bl70">{{build.title}} [{{build.level}}]	<span class="col1">{{build.groupname}}</span></div>
		<div class="bl70" ng-show="build.status=='ready'"><hpbar hp="{{build.hp}}" hpmax="{{build.hpmax}}"></hpbar></div>
	</a>
	<div class="bl70" ng-show="build.status=='recovery'"><span class="col1">Ремонт</span>, осталось {{build.endop - time | ts2human}}</div>
	<div class="bl70" ng-show="build.status=='levelup'"><span class="col1">Улучшение</span>, осталось {{build.endop - time | ts2human}}</div>
	<div class="bl70" ng-show="build.status=='build'"><span class="col1">Постройка</span>, осталось {{build.endop - time | ts2human}}</div>
	<div class="bl70">{{build.status}}, {{build.endop - time | ts2human}}</div>

	<div class="flc"></div>
</div>

<div class="sep-light"></div>

<div class="sep-dark"></div>
	
</div>