<div>
	<a class="loc bl" href="#/city/{{city.id}}/builds">
		<div id="blik" class="blik" style="display: inline-block; width: 0px; left: 10px; background-position: 100% 50%;">{{city.title}}</div>
		<span class="hlpd">{{city.hp}}/{{city.hpmax}}</span>
	</a>
	<div hpbar="{ hp:{{city.hp}},hpmax:{{city.hpmax}} }" class="flc">
		<div class=" bar"><div class="hpval">{{city.hp}}/{{city.hpmax}}</div><div class="hpbar" style="width:{{city.hp/city.hpmax*100}}%"></div></div>
	</div>
</div>

<div class="title">
	<a ng-click="setGroup(2)">Военные</a> |
	<a ng-click="setGroup(3)">Добывающие</a> |
	<a ng-click="setGroup(0)">Другие</a>
</div>

<div ng-repeat="build in city.canbuild | buildsby:group">
<div class="pall">
	<a href="#/buildtype/{{build.buildtype}}">
		<div class="img"><img width="64" height="64" class="fll" src="{{domain}}/img/builds/{{build.buildtype}}.jpg" alt=""></div>
		<div class="bl70">{{build.title}}
			<span class="col1">Group: {{build.group}}
		</span></div>
		<div class="bl70">{{build.more}}</div>
        </a>
	        <div class="bl70"><a ng-click="building(build.buildtype)" class="col1">Построить</a> 
                    <span ng-repeat="(n, v) in build.cost" ng-show="v>0"><img src="../img/res/{{n}}.gif" />{{v}}&nbsp; </span>
                    <span><br/>{{build.errmsg}}</span>
                </div>
	<span class="bl"></span>
	<div class="flc"></div>
</div>

<div class="sep-light"></div>

<div class="sep-dark"></div>
	
</div>