<div class="title">Города</div>

<div class="displ-t"><div class="displ-l"><div class="displ-r"><div class="displ-b"><div class="displ-tl"><div class="displ-tr"><div class="displ-bl"><div class="displ-br"><div class="displ">

<div ng-repeat="city in cities" class="c116"><a class="el70" href="#/city/{{city.id}}"><img width="64" height="64" src="../img/mission.png" alt=""></a>
<span class="bl">{{city.title}}</span>
</div>

</div></div></div></div></div></div></div></div></div>

