<div>
	<a class="loc bl" href="#/city/{{city.id}}">
		<div id="blik" class="blik" style="display: inline-block; width: 0px; left: 10px; background-position: 100% 50%;">{{city.title}}</div>
		<span class="hlpd">{{city.hp}}/{{city.hpmax}}</span>
	</a>
	<div class="flc">hpbar</div>
</div>

<div class="displ-t"><div class="displ-l"><div class="displ-r"><div class="displ-b"><div class="displ-tl"><div class="displ-tr"><div class="displ-bl"><div class="displ-br"><div class="displ"></div></div></div></div></div></div></div></div></div>

<div class="title"><a href="#/city/{{city.id}}">Ресурсы</a></div>
<div class="pall">
	<div class="cityview" >

	<img src="../img/res/people.gif" /> Люди: <b>{{city.res.people}}</b>/{{city.resmax.people}} [{{city.resd.people}}]<br />
	<img src="../img/res/gold.gif" /> Золото: <b>{{city.res.gold}}</b>/{{city.resmax.gold}} [{{city.resd.gold}}]<br />
	<img src="../img/res/food.gif" /> Еда: <b>{{city.res.food}}</b>/{{city.resmax.food}} [{{city.resd.food}}]<br />
	<img src="../img/res/wood.gif" /> Дерево: <b>{{city.res.wood}}</b>/{{city.resmax.wood}} [{{city.resd.wood}}]<br />
	<img src="../img/res/stone.gif" /> Камень: <b>{{city.res.stone}}</b>/{{city.resmax.stone}} [{{city.resd.stone}}]<br />
	<img src="../img/res/iron.gif" /> Железо: <b>{{city.res.iron}}</b>/{{city.resmax.iron}} [{{city.resd.iron}}]<br />
	</div>
</div>

<div class="title"><a href="#/city/{{city.id}}/buyres">Купить ресурсы</a></div>

<div class="title">Здания города</div>

<div class="menu">
	<span><a class="menu" href="#/city/{{city.id}}/update"><img class="i" width="32" height="32" src="../img/map.gif" alt="">Изменить город</a></span>
</div>
