<div class="title">{{city.title}}</div>
<div hpbar="{ hp:{{city.hp}},hpmax:{{city.hpmax}} }" class="flc">
	<div class=" bar"><div class="hpval">{{city.hp}}/{{city.hpmax}}</div><div class="hpbar" style="width:{{city.hp/city.hpmax*100}}%"></div></div>
</div>
<div class="mcol">
	<div class="title"><a>Карта</a></div>
	<div class="displ-t"><div class="displ-l"><div class="displ-r"><div class="displ-b"><div class="displ-tl"><div class="displ-tr"><div class="displ-bl"><div class="displ-br"><div class="displ">
		<mapview position="city.pos" place="place" h=2 w=2 movie="false" link="/map/:pos"></mapview>
	</div></div></div></div></div></div></div></div></div>
</div>
<div class="mcol">
	<div class="title"><a href="#/city/{{city.id}}/res">Ресурсы</a></div>
	<div class="pall">
		<div class="cityview">{{asdf}}
		<img src="../img/res/people.gif" /> Люди: <b>{{city.res.people}}</b>/{{city.resmax.people}} [{{city.resd.people}}]<br />
		<img src="../img/res/gold.gif" /> Золото: <b>{{city.res.gold}}</b>/{{city.resmax.gold}} [{{city.resd.gold}}]<br />
		<img src="../img/res/food.gif" /> Еда: <b>{{city.res.food}}</b>/{{city.resmax.food}} [{{city.resd.food}}]<br />
		<img src="../img/res/wood.gif" /> Дерево: <b>{{city.res.wood}}</b>/{{city.resmax.wood}} [{{city.resd.wood}}]<br />
		<img src="../img/res/stone.gif" /> Камень: <b>{{city.res.stone}}</b>/{{city.resmax.stone}} [{{city.resd.stone}}]<br />
		<img src="../img/res/iron.gif" /> Железо: <b>{{city.res.iron}}</b>/{{city.resmax.iron}} [{{city.resd.iron}}]<br />
		</div>
	</div>

	<div class="title"><a href="#/army/{{city.armyid}}">Армия города</a></div>
	<div ng-show="!cityarmy.hpmax">Армии в городе нет</div>
	<div ng-show="cityarmy.hpmax">
		<a ng-repeat="unit in cityarmy.staff" href="#/unit/{{unit.typeid}}">{{unit.title}}: <span class="col1">{{unit.count}}</span><br/></a>
	</div>
	<div class="title"><a href="#/unitconveer/{{city.id}}">Набор рекрутов</a></div>
	
	<!--div class="menu">
		<span><a class="menu" href="#/city/{{city.id}}/update"><img class="i" width="32" height="32" src="/img/map.gif" alt="">Изменить город</a></span>
	</div-->

	<div class="menu">
		<span><a class="menu" href="#/city/{{city.id}}/builds"><img class="i" width="32" height="32" src="../img/map.gif" alt="">Здания города</a></span>
	</div>
</div>